:root {
    --navBg: #49badc;
    --menuBg: #eeeee4;
}

.navbar {
    background-color: var(--navBg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display: flex;
    justify-content: start;
}

.nav-menu {
    background-color: var(--menuBg);
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
    padding: 0;
}

.navbar-toggle {
    background-color: var(--menuBg);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

svg {
    color: #333333;
}

.balance {
    padding-left: 20px;
}

#userImage {
    display: flex;
    height: 75px;
    width: 75px;
    object-fit: cover;
    padding-left: 20px;
    float: left;
}

#logoImage {
    display: flex;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.appLogo {
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 1;
}

.userDisplay {
    display: inline-block;
}

h4 {
    float: left;
    padding-left: 20px;
    margin: 0;
    text-align: center;
}

#newButton {
    background-color: #0ec96e;
    border: none;
    border-radius: 7px;
    color: white;
    height: 35px;
    width: 6rem;
    font-weight: bold;
    margin: 10px
}

.new {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
}

#notifications {
    margin: 10px;
}

#badge {
    position: absolute;
    top: 17px;
    right: 40px;
    padding: 0.1px 4px;
    border-radius: 50%;
    background: red;
    color: white;
}